.searchDiv{
    height: 100%;
    width: 100%;
    margin: 0;
}

.searchBar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputField{
    border-radius: 20px/50px;
    text-align: center;
    font-size: x-large;

}

