.searchComponent{
    height: 100%;
    width: 100%;
    margin: 0;
    flex: 1;
}

.searchBarContainer{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}