.searchDiv{
    height: 100%;
    width: 100%;
    margin: 0;
}

.searchBar{
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputField{
    flex: 1;
    height: 75%;
    border-radius: 20px/50px;
    text-align: center;
    font-size: x-large;
}

/*Drop down part*/
.inputField{
}

.dropDownItems{
    display: none;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.inputField:hover .dropDownItems{
    display: block;
}